<h2 id="title"><a href="/">Actors:</a></h2>
<table>
  <tr class="top">
    <td>List of Actors</td>
  </tr>
  <% @actors.each do |actor| %>
    <tr>
      <td><a href="/actors/<%= actor["id"] %>""><%= actor["name"] %></a></td>
    </tr>
  <% end %>
</table>
